body {
  font-family:Arial,Helvetica,Sans-Serif;
  color: #666;
}

h1 {
  color: red;
}

.formtitle{
  font-weight: bold;
  font-size: 16px;
}

.formrow {
  clear: both;
  margin-bottom: 10px;
  margin-top: 10px;
}

.search_input{
  float: left;
}

.search_label {
  font-size: 14px;
  font-weight: 700;
}

.search_select {
  width: 250px;
  font-size: 14px;
}

.hide {
  display: none;
}

.action_button{
  background-color: #005ea8;
  color: #fff;
  height: 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  border:0;
  cursor: pointer;
  width: 200px;
}


